---
layout: default
---

<div class="page-content">
    <div class="post-heading">
        {{ page.title }}
    </div>
    <div class="post-meta">
        <span>
          Posted:
          <a href="{{ page.url }}">{{ page.date | date:"%Y-%m-%d" }}</a>
          by <em>{{ page.author }}</em>
        </span>
    </div>
    <div class="post-entry">
        {{ content }}
    </div>
</div>
<div class="post-blank post-pager">
    <ul class="pager">
        {% if page.previous %}
        <li class="previous"><a href="{{ page.previous.url }}">&larr; Previous</a></li>
        {% endif %}
        {% if page.next %}
        <li class="next"><a href="{{ page.next.url }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
</div>
{% include disqus_comments.md %}

